/* Content breadcrumd */
.content-breadcrumd {
    width: 80%;
    margin: 0 auto;
}

.content-breadcrumd ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.content-breadcrumd ul li {
    color: #B5ABAA;
}

.content-breadcrumd ul li a {
    text-decoration: none;
    color: #B5ABAA;
}

.content-breadcrumd ul li a:hover {
    color: blue;
}

.content-breadcrumd ul li a::after {
    content: "/";
    margin-left: 4px;
    margin-right: 4px;
}
/* Content main */
.div-content-main {
    width: 80%;
    margin: 0 auto;
}
.div-content-right {
    width: 65.76%;
    padding: 40px;
}
.div-email-address input {
    width: 97%;
    
}